<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/blueprint/screen.css"> 
	<!--[if lt IE 8]>
		<link href="/static/blueprint/ie.css")" rel="stylesheet" type="text/css" />
	<![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/site.css"> 
	<link rel="alternate" href="http://www.guerrera.org/rss.xml" title="A. Guerrera" type="application/rss+xml" /> 
    <title>@Model.Title</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <span class="span-21"><h1><a href="http://www.guerrera.org/">Andy Guerrera</a></h1></span>
            <span class="span-2"><img src="/static/owl.png" /></span>
			<div class="clear"></div>
        </div>
		<div class="subheader">Personal Blog/Website of Andy Guerrera</div>
        <div class="content clear">
            <div class="post">
                <h2><a href="/@Model.Page.Url">@Model.Title</a></h2>
                <div class="date">@Model.Page.Created.ToString("d MMM yyyy H:mm") EST</div>
                <div class="postcontent">
                    @Model.Content
                </div>
            </div>
            <div class="pager">
            @if (Model.PrevPost.Title != "")
            {
                <span class="prev">Previously: <a href="/@Model.PrevPost.Url">@Model.PrevPost.Title</a></span>
            }
            @if (Model.NextPost.Title != "")
            {
                @if (Model.PrevPost.Title != "")
                {
                <span> | </span>
                }
                <span class="next">Next: <a href="/@Model.NextPost.Url">@Model.NextPost.Title</a></span>
            }
            </div>
        </div>
        <div class="footer">
            All content &copy Andy Guerrera
            |
            <a href="http://twitter.com/aguerrera">Twitter</a>
            |
            <a href="/archive.html">Archive</a>
            |
            <a href="http://www.guerrera.org/rss.xml">RSS</a>
            |
            <a href="/about.html">About</a>
            |
            Static HTML built with <a href="https://github.com/aguerrera/Garoozis">Garoozis</a>
        </div>
    </div>
	<script type="text/javascript"> 
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-3994889-2']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script> 
</body>
</html>
